pip>=9.0.1
Flask
flask-login
flask-sqlalchemy
flask_httpauth
requests
requests-cache 
plotly
pandas
users
config.py
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
passlib==1.7.1
SQLAlchemy==1.1.11
Werkzeug==0.12.2
click==6.7
